body {
  color: #4B4B4B;
  line-height: 1.5;
  font-family: "Noto Sans", sans-serif;
  font-weight: 500;
}

img {
  width: 100%;
  height: auto;
  display: block;

}

a {
  text-decoration: none;
  display: inline-block;
}

.blue {
  color: #0027D5 !important;
}

.fd-2 {
  font-size: 16px !important;
}

.fs-3 {
  font-size: 24px !important;
}

.fs-4 {
  font-size: 28px !important;
}

.blog {
  display: flex;
  flex-wrap: wrap;
  max-width: 1296px;
  margin: 40px auto;
  gap: 80px 24px;
}

.blog .content {
  margin: 16px 0;
}

.blog li {
  flex: 1 1 calc((100% - 48px) / 3);
  max-width: calc((100% - 48px) / 3);
}

.date {
  margin-bottom: 4px;
}

.blog .title {
  font-weight: 700;
  color: #000000;
  padding-bottom: 8px;
}

.blog p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.blog-read a {
  border-radius: 40px;
  border: 1px solid #000000;
  padding: 8px 16px;
  width: 96px;
  color: #4B4B4B;
  white-space: nowrap;
  text-align: center;
}

.blog-read a:hover {
  background-color: #000000;
  border: none;
  color: white;
}

.blog-tag {
  display: flex;
  align-items: center;
}

.blog-tag .badge {
  padding: 6px 12px;
  display: inline-block;
  border-radius: 40px;
  background: #0027D5;
  color: #fff;
  margin-left: 8px;
  text-align: center;
}

@media screen and (max-width:768px) {
  .blog {
    max-width: 100%;
    gap: 40px 0;
    padding: 0 16px;

  }

  .blog li {
    flex: 0 0 100%;
    max-width: 100%;
  }

}